build-Home_FX00819-Desktop_Qt_5_13_0_GCC_64bit-Debug
build-Simulator-Desktop_Qt_5_13_0_GCC_64bit-Debug
docs/.~lock.Home_FX00819_Software Requirements specification.odt#
docs/.~lock.Home_FX00819_UI_Design.odt#
